In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [15]:
train_set = pd.read_csv("./data/processed_trainv5.csv")
valid_set = pd.read_csv("./data/processed_validv5.csv")
test_set = pd.read_csv("./data/processed_testv5.csv")

In [16]:
scaler = StandardScaler()
train_set[["LONG", "LAT", "WK_OF_YR", "WK_DAY", "QTR_HR"]] = scaler.fit_transform(train_set[["LONG", "LAT", "WK_OF_YR", "WK_DAY", "QTR_HR"]])
valid_set[["LONG", "LAT", "WK_OF_YR", "WK_DAY", "QTR_HR"]] = scaler.transform(valid_set[["LONG", "LAT", "WK_OF_YR", "WK_DAY", "QTR_HR"]])
test_set[["LONG", "LAT", "WK_OF_YR", "WK_DAY", "QTR_HR"]] = scaler.transform(test_set[["LONG", "LAT", "WK_OF_YR", "WK_DAY", "QTR_HR"]])

In [17]:
train_set.head()

,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,LONG,LAT,A,B,C,YEAR,WK_OF_YR,WK_DAY,QTR_HR,TARGET
0,0,23,188,0.175258,-0.630185,0,1,0,0,0.825481,-1.031961,-0.539283,630
1,0,0,388,-1.231196,-0.412604,0,0,1,0,1.432698,0.030677,-1.463326,1845
2,0,34,140,0.067556,-0.930338,0,1,0,0,0.420669,0.561996,-0.576245,930
3,0,43,49,-1.167175,-0.475792,0,1,0,0,1.162823,0.561996,0.569569,375
4,0,0,153,-0.092495,-0.513475,0,1,0,1,-0.388953,0.561996,-0.724092,645

In [18]:
train_set.to_csv("data/processed_trainv5_normal.csv", index=False)
valid_set.to_csv("data/processed_validv5_normal.csv", index=False)
test_set.to_csv("data/processed_testv5_normal.csv", index=False)